.gitignore
.gitlab-ci.yml
log.txt
*.log

/.githiub
/.vscode
/agents
/couchapp-pusher
/deploy
/gauge-tests
/node_modules

/pouchdb-security/node_modules

/couchdb-fauxton-1.2.3/dist
/couchdb-fauxton-1.2.3/node_modules

/pwa/__sapper__
/pwa/db
/pwa/node_modules
/pwa/config.json

*.tar

.env
*.env
**/*.env

log.txt